$break-md: 1024px;
$break-font1: 1199.98px;
$break-font2: 991.98px;
$break-font3: 880px;
$break-padding1: 1070px;
$break-image1: 830px;
$break-details-card1: 743px;
$break-font4: 688px;
$break-image2: 670px;
$break-font5: 600px;
@mixin default-setting{
  margin: 0;
  padding: 0;
  height: 100vh;
}
@mixin details{
  height: 37vh;
  max-height: 37vh;
  @media screen and (max-width: $break-md) {
    height: 25vh;
    max-height: 25vh;
  }
}
html, body , .main-container{
  @include default-setting;
  .map-container{
    margin: 0;
    padding: 0;
    .controls {
      background-color: #fff;
      border-radius: 2px;
      border: 1px solid transparent;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
      font-weight: 300;
      height: 29px;
      margin-left: 17px;
      margin-top: 10px;
      outline: none;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 400px;
    }
    #map{
      @include default-setting;
      box-shadow: 3px 0px 3px 0px rgba(194,183,183,1);
      height: 100vh;
    }
  }
  .details-container{
    padding-left:3px;
    padding-right: 0px;
    .hotel-details{
      height:100vh;
      background-color: #ffffff;
      .top-section {
        height: 60vh;
        @media screen and (max-width: $break-font2) {
          max-height: 40vh;
        }
        .image-container{
          margin-top: 30px;
          @media screen and (max-width: $break-font2) {
            margin-top: 10px;
          }
          .restaurant-image {
            max-height: 50vh;
            @media screen and (max-width: $break-font2) {
              max-height: 35vh;
            }
            .details {
              padding: 0;
              .meal-photo {
                width: 100%;
                margin: 0;
                overflow: hidden;
                background-color: #000;
                #featured_image{
                  opacity: 0.8;
                  width: 100%;
                  -webkit-transform: scale(1.15);
                  -ms-transform: scale(1.15);
                  transform: scale(1.15);
                  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
                  transition: transform 0.5s, opacity 0.5s;
                  height: 50vh;
                  max-height: 50vh;
                  @media screen and (max-width: $break-font2) {
                    height: 35vh;
                    max-height: 35vh;
                  }
                  &:hover{
                    opacity: 1;
                    -webkit-transform: scale(1.03);
                    -ms-transform: scale(1.03);
                    transform: scale(1.03);
                  }
                }
              }
            }
          }
        }
      }
      .bottom-section{
        height: 40vh;
        @media screen and (max-width: $break-font2) {
          height: 60vh;
        }
        .hotel-data{
          height: 37vh;
          max-height: 37vh;
          .details{
            #thumbnail-image {
              border-radius: 2px;
              box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
              height: 100px;
              width: 100px;
              max-height: 100px;
              max-width: 100px;
              @media screen and (max-width: $break-font2){
                height: 130px;
                width: 130px;
                max-height: 130px;
                max-width: 130px;
              }
              @media screen and (max-width: $break-image1){
                height: 115px;
                width: 115px;
                max-height: 115px;
                max-width: 115px;
              }
              @media screen and (max-width: $break-details-card1){
                height: 106px;
                width: 106px;
                max-height: 106px;
                max-width: 106px;
              }
              @media screen and (max-width: $break-font4){
                height: 101px;
                width: 101px;
                max-height: 101px;
                max-width: 101px;
              }
              @media screen and (max-width: $break-image1){
                height: 90px;
                width: 90px;
                max-height: 90px;
                max-width: 90px;
              }
            }
            .name{
              font-size: 1.7vw;
              padding-left: 10px;
              @media screen and (max-width: $break-font1) {
                font-size: 1.8vw;
              }
              @media screen and (max-width: $break-font2) {
                font-size: 3.0vw;
              }
              @media screen and (max-width: $break-font3) {
                font-size: 3.22vw;
              }
              @media screen and (max-width: $break-font3) {
                font-size: 3.1vw;
              }
              @media screen and (max-width: $break-details-card1){
                font-size: 3.0vw;
              }
              @media screen and (max-width: $break-image2) {
                font-size: 2.8vw;
              }
              @media screen and (max-width: $break-font5) {
                font-size: 2.95vw;
              }
            }
            .address, .cuisines, .cost{
              font-size: 0.9vw;
              margin-bottom: 2px;
              padding-left: 10px;
              @media screen and (max-width: $break-font1) {
                font-size: 1.1vw;
              }
              @media screen and (max-width: $break-font2) {
                font-size: 1.5vw;
              }
              @media screen and (max-width: $break-font3) {
                font-size: 1.72vw;
              }
              @media screen and (max-width: $break-font3) {
                font-size: 1.6vw;
              }
              @media screen and (max-width: $break-details-card1){
                font-size: 1.5vw;
              }
              @media screen and (max-width: $break-font4){
                font-size: 1.67vw;
              }
              @media screen and (max-width: $break-image2) {
                font-size: 1.55vw;
              }
              @media screen and (max-width: $break-font5) {
                font-size: 1.64vw;
              }
            }
          }
          @media screen and (max-width: $break-font2) {
            height: 40vh;
            max-height: 40vh;
          }
          @media screen and (max-width: $break-details-card1) {
            height: 35vh;
            max-height: 35vh;
          }
          @media screen and (max-width: $break-image2) {
            height: 32vh;
            max-height: 32vh;
          }
          .booking{
            transition: transform 0.5s, color 0.5s;
            &:hover{
              background-color: #099e44;
              .booking-url {
                color: #ffffff;
              }
            }
            .booking-url{
              width: 100%;
              cursor: pointer;
              text-decoration: none;
              text-align: right;
            }
          }
        }
      }
    }
  }
}
